<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="row">
        <div class="col-3">Logo</div>
        <div class="col-9">Banner</div>
    </div>

    <div class="row">
        <div class="col-12 menu">Menu</div>
    </div>

    <div class="row">
    <div class="col-3 box">
        <img src="ban_phim_co_keychron_k2.jpg" >
        <p>Keychron K2</p>
    </div>

    
    <div class="col-3 box">
        <img src="ban-phim-co-keychron-k4-version-2.jpg">
        <p>Keychron K4</p>
    </div>

    
    <div class="col-3 box">
        <img src="2323_ban_phim_co_keychron_k6.jpg">
        <p>Keychron K6</p>
    </div>


    <div class="col-3 box">
        <img src="broshop-keychron-k8-hotswap-2.jpg">
        <p>Keychron K8</p>
    </div>
    </div>

<!-- 
    Ngày trước: tỉ lệ 1/3. Tổng là 100 => Logo: 25, Banner: 75
    Bây h: tỉ lệ 1/3. Tổng là 12 
    a + 3a = 100 => a = 25
    a + 3a = 12 => a = 3 => b = 9
    => Logo, Banner chiến bao nhiều phần trong 12 phần
    => Logo: 3, Banner: 9

    1 row sẽ có nhiều col-
--> 

</body>
</html>