<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Css</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1><a href="https://vi.wikipedia.org/wiki/Trang_Ch%C3%ADnh"><img src="wikipedia-logo.jpg" alt="logo"></a>Layout Css</h1>
        </div>

        <div id="main-content">
            <div id="content">
                <h2>Position</h2>
                <p>- position: static; vị trí/tĩnh mặc định của phần tử và bạn đặt đâu phần tử sẽ nằm ở đó.</p>
                <p>- position: relative; vị trí của phần tử sẽ tương đối so với vị trí tĩnh bạn đặt và khoản không gian xung quanh phần tử sẽ được giữ nguyên.</p>
                <p>- position: fixed; vị trí sẽ nằm cố định một chỗ, dù bạn có làm gì, phần tử vẫn nằm cố định 1 vị trí trên màn hình.</p>
                <p>- position: absolute; vị trí của phần tử sẽ được xác định từ padding của phần tử cha.</p>
                <p>- position: sticky; vị trí của phần tử sẽ được định vị khi người dùng sử dụng thanh cuộn.</p>
            </div>
            <div id="sidebar">
                <h3>Danh mục khác</h3>
                <ul class="list">
                    <li><a href="">HTML cơ bản</a></li>
                    <li><a href="">CSS cơ bản</li>
                    <li><a href="">Javascript cơ bản</li>
                </ul>
            </div>
        </div>

        <div id="footer">
            <p>Copyright &copy; 1998 - 2023</p>
        </div>
    </div>

    <hr>
    <h3 style="color: red; text-align: center;">Sơ đồ layout cơ bản của 1 website</h3>
    <img src="layoutcoban.png" style=" width: 700px; height: 500px;">
    

</body>
</html>